body {
    font-family: "Montserrat", sans-serif;
  }
  p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  a {
    text-decoration: none;
    color: currentColor;
  }
  button {
    cursor: pointer;
  }
  img {
    display: block;
  }
  address{
    font-style: normal;
  }
  .container{
    width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;


  }  .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
    /**============================*/
    /**============header===========*/
  .header {
      color: #111;
          font-family: Montserrat;
          font-size: 18px;
          font-weight: 700;
          line-height: 1.11;
          letter-spacing: -0.03em;
  }
  
  .header-navigation {
  
  }
  
  .header-logo {}
  
  .header-logo-image {}
  
  .header-menu-list {}
  
  .header-menu-item {}
  
  .header-menu-link {
      color: #111;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.14;
          letter-spacing: -0.02em;
  
  }
  .header-menu-link:hover, .header-menu-link:focus {
  color: #FD9222;
  }
  
  .header-soc-list {}
  
  .header-soc-item {}
  .header-soc-item-link{}
  .target {}
  .header-logo-italic {
      font-style: italic;
  }
  /**============================*/
  /**============hero===========*/
  .hero {
padding-bottom: 80px;
  }
  .hero-container {
background-color: rgba(17, 17, 17, 0.60); 
border-radius: 30px;
padding: 380px 40px 40px 40px;
  }
  .hero-title {
      color: #FFF;
          font-size: 28px;
          font-weight: 500;
          line-height: 1.21;
          letter-spacing: -0.03em;
          max-height: 484px;
  }
  
  .hero-btn {
      color: #FFF;
      font-family: inherit;
          font-size: 14px;
          font-weight: 600;
          line-height: normal;
          cursor: pointer;
  }
  .hero-btn:hover, :focus {
      background-color: #fcf1eb;
      color:#FD9222;
  }
  
  .hero-btn-link {
      color: #FFF;
          font-size: 14px;
          font-weight: 600;
          line-height: normal;
  }
  
  .hero-btn-link:hover, :focus {
      border-color:  #FD9222;
      color:#FD9222;
  }
      
  .hero-btn-down {
      color: #FFF;
      font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  }
  
  .hero-btn-link:hover, :focus {
      border: #FD9222;
      color:#FD9222;
  }
  /**============================*/
  /**============features===========*/
  
  .features {
  background-color: #1E1823;
  padding-top: 50px;
  padding-bottom: 50px;
  
  }
  
  .features_list {}
  
  .features_item {}
  
  .features_subtitle {
      color: #FFF;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
  }
  
  .features_item_text {
      color: rgba(255, 255, 255, 0.70);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  }
  /**============================*/
  /**============taste===========*/
  .taste {
    padding-top: 120px;
  }
  .taste-title {
    max-width: 412px;
    margin: 0 auto;
      color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 50px;

  }
  .taste-title span{
      color:#FD9222
  }
  .taste-list {
  }
  .taste_item {
    background-color: #FD9222;
    pad: 28px, 23px;
    border-radius: 15px;
  }
  .taste-img {
    margin-bottom: 36px;
  }
  .taste_subtitle {
      color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  }
  /**============================*/
  /**============made===========*/
  .made {
    padding-top: 120px;
  }
  .made_title {
      color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  }
  .made_title span {
      color: #FD9222;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.02em;
  }
  .made-img {
  }
  .made_subtitle {
      color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 28px;
  }
  .made_list {
  }
  .made_item {
    margin-bottom: 24px;
  }
  .made_item:last-child {
margin-bottom: 0;
  }
  .made_list_text {
      color: #111;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  }
  /**============================*/
  /**============products===========*/
  .products {
    padding-top: 120px;
   
  }
  .products_title {
      color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.77;
  letter-spacing: -0.03em;
  margin-top: 50px;
  text-transform: uppercase;
  }
  .products_title span {
      color: #FD9222;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.77;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  }
  .products_list {
  }
  .products_item_list {
  }
  .products_item_list {
  }
  .products_item_subtitle {
      color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  
  }
  .products_item_text {
      color: rgba(17, 17, 17, 0.70);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  }
  .products_btn {
      color: #111;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  }
  /**============================*/
  /**==========sellers============*/
  
  
  .sellers { padding-top: 120px;
    
  }
  .sellers_title {
      color: #111;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 50px;
  }
  .sellers_title span {
      color: #FD9222;
      }
  .sellers_title span {
  
  }
  .sellers_list {
      
  }
  .sellers_item {
  }
  .sellers_img {
  }
  .sellers_subtitle {
      color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center;
  border: 1px solid rgba(17, 17, 17, 0.10) ;
  border-top: none;
  background: #FFF;

  }
  /**============================*/
  /**==========loved============*/
  .loved {
  }
  .loved_title {
      color: #111;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  }
  .loved_title span {
      color: #FD9222;
  }
  .loved_list {
  }
  .loved_item {
  }
  .loved_img {
  }
  .loved_subtitle {
      color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  }
  .loved_item_text {
      color: rgba(17, 17, 17, 0.70);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.02em;
  }
  .loved_btn {
      color: #111;
      font-family: inherit;
      font-size: 18px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  }
  .loved_btn:hover,
  .loved_btn:focus {
      color:#FFFF;
      background-color: #FD9222;
  }
  /**============================*/
  /**==========footer============*/
  .footer {
      background: #1E1823;
  }
  .footer_text {
      color: #FFF;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
  }
  .footer_text span {
      color: #FD9222;
  }
  .footer_subtitle {
      color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  }
  .footer_soc_list {
      color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  }
  .footer_soc_item {
  }
  .footer_address {
      font-style: normal;
  }
  .footer_address_list {
  }
  .footer_address_item {
  }
  .footer_address_link {
  }
  .navigation {
  }
  .footer_menu_list {
  }
  .footer_menu_item {
  }
  .footer_menu_link {
      color: #FFF;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: -0.02em;
  }
  .footer_menu_link:hover,
  .footer_menu_link:focus {
      color:#FD9222;
  }